<nav class="navbar navbar-dark bg-info ">
  <a class="navbar-brand" href="">Brand LOGO</a>
  <a class="navbar-brand ml-auto " style="color:white" data-toggle="modal" data-target="#Login" *ngIf="session == null">Sign-in</a>
  <a class="navbar-brand" style="color:white" routerLink="/register" *ngIf="session == null">Sign-Up</a>
  <button class="navbar-toggler" type="button" style="cursor:pointer;" (click)="_toggleSidebar()" *ngIf="session != null">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <ngx-loading [show]="loading" [config]="{fullScreenBackdrop:true}"></ngx-loading>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title justify-content-md-center" id="Login">Sign-in</h5>
        <button type="button" class="close" id="closeModal" data-dismiss="modal" #closeBtn aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-auto mb-3">
          <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="err.length > 0">
            <strong> Error : </strong> {{err}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="success">
            <strong> Registed : </strong>
            <a data-toggle="modal" data-target="#Login" class="alert-link">Click to Sign-in</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-10 mb-3">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="lemail" placeholder="example@hotmail.com" [(ngModel)]="user.email" required>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-10 mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="lpassword" placeholder="password" [(ngModel)]="user.password" required>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="signIn()">Sign-in</button>
      </div>
    </div>
  </div>
</div>