<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="./">
          <h4 class="card-title">User Management</h4>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="./event">
          <h4 class="card-title">Event Management</h4>
        </a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Event List</h4>
      </div>
      <div class="col-6">
        <input type="text" class="form-control" placeholder="Search...." (keyup)="search($event.target.value)">
      </div>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">User Name</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{user.email}}</td>
            <td>{{user.fname}} {{user.lname}}</td>
            <td>
              <div [ngSwitch]="user.status">
                <span *ngSwitchCase="0">Member</span>
                <span *ngSwitchCase="1">Admin</span>
                <span *ngSwitchCase="2">Super Admin</span>
              </div>
            </td>
            <td>
              <a data-toggle="modal" data-target="#updateUser" (click)="loadUser4Edit(user)" *ngIf="user.status != 2">Edit</a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="updateUser" tabindex="-1" role="dialog" aria-labelledby="updateUser" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title justify-content-md-center" id="updateUser">Sign-in</h5>
        <button type="button" class="close" id="closeModal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-md-center">
          <div class="col-md-10 mb-3">
            <select (ngModel)]="editUser.status">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateUser()">Update</button>
      </div>
    </div>
  </div>
