<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
<div class="container">
  <h2>Pending event</h2>
  <p>รายการ event ที่ยังไม่ appprove</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Eventname</th>
        <th>organizer</th>
        <th>Eventdate</th>
        <th>Location</th>        
        <th>Capacity</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of eventList">
        <td>{{event.eName}}</td>
        <td>{{event.userID}}</td>
        <td>{{event.eDate}}</td>
        <td>{{event.eLocat}}</td>
        <td>{{event.eCap}}</td>
        <td>{{event.status}}</td>
        <td><button>appprove</button></td>
      </tr>
      
    </tbody>
  </table>
</div>