<body style="height:1350px;margin:0;" class="bg">
  <div style="padding-top:5%" class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid" style="height:610;width:425;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
          class="img-thumbnail" src="{{event?.eLOGO}}" alt="">
        <div style="margin-top:5%">
          <div style="border-bottom:1px solid black;margin-bottom:5%;">
            <h3 class="my-3">Description</h3>
          </div>
          <div>
            <h4>
              <small>
                <p>{{event?.eMainDetail}}</p>
              </small>
            </h4>
          </div>
        </div>
      </div>

      <div class=" col-md-6">
        <div class="rounded" style="background-color:rgba(255,255,255,0.25);padding:5% 10% 5%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border:2px solid black;">
          <div style="border-bottom:1px solid black">
            <h1 class="my-4">{{event?.eName}}</h1>
          </div>
          <div style="border-bottom:1px solid black">
            <h1>
              <small>Date : {{event?.eDate[0].startDate | date: 'dd/MM/yy'}}</small>
            </h1>
            <h1>
              <small>Location : {{event?.eLocat}}</small>
            </h1>
          </div>
          <div [ngSwitch]="registed" *ngIf="session != null && event?.expiredAt > today && isFull != true">
            <button *ngSwitchCase="false" (click)="signIn()" type="button" class="btn btn-primary btn-lg btn-block" style="margin-top:10%;font-size:200%;color:white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Register</button>
            <button *ngSwitchCase="true" type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10%;font-size:200%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Registed</button>
          </div>
        </div>
        <div class="rounded" style="margin-top:20%;background-color:rgba(255,255,255,0.9);padding:5% 10% 5%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border:2px solid black;">
          <h3 class="my-3">Conditions</h3>
          <ul *ngFor="let detail of event?.eSubDetail">
            <li style="list-style-type: none;font-size:200%">
              <h3>
                <small>{{detail?.key}} : {{detail?.value}}</small>
              </h3>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</body>