<div style="margin-top:5%" class="container">



  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="{{event.eLOGO}}" alt="">
    </div>

    <div class="col-md-4">
      <div style="background-color:rgba(0,0,0,0.9);padding:5%;color:white">
        <h1 class="my-4">{{event.eName}}
        </h1>
        <h1>
          <small>Date : {{event.eDate[0].startDate | date: 'dd/MM/yy'}}</small>
        </h1>
        <h1>
          <small>Location : {{event.eLocat}}</small>
        </h1>
        <div>
        <button *ngIf="registed==false" (click)="signIn()" type="button" class="btn btn-primary" style="margin-top:10%;width:100%;font-size:200%">Register</button>
        <button *ngIf="registed==true" type="button" class="btn btn-success" style="margin-top:10%;width:100%;font-size:200%">Registed</button>
        </div>
      </div>
      <div style="margin-top:20%;background-color:rgba(0,0,0,0.9);padding:5%;color:white">
        <h3 class="my-3">Conditions</h3>
        <ul *ngFor="let detail of event.eSubDetail">
          <li style="list-style-type: none;font-size:150%">{{detail.key}} : {{detail.value}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <h3 class="my-3">Description</h3>
      <p>{{event.eMainDetail}}</p>
    </div>
  </div>