<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <a routerLink="./create">
          <h4 class="card-title">Create Event</h4>
        </a>
        <p class="card-text">ระบบจะทำการสร้าง Event โดยให้ผู้ใช้ระบุรายละเอียดต่างๆที่กำหนดไว้ เมื่อเสร็จสิ้นระบบจะทำการตรวจสอบและแจ้งสถานะให้ในภายหลัง</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Event List</h4>
      </div>
    </div>
  </div>
</div>