<ngx-loading [show]="loading" [config]="{fullScreenBackdrop:true}"></ngx-loading>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <a routerLink="./list">
          <h4 class="card-title">My Events</h4>
        </a>
        <p class="card-text">หน้าจอแสดงรายละเอียด Event ที่ลงทะเบียนไว้</div>
      <div class="card-body">
        <a routerLink="./create">
          <h4 class="card-title">Create Events</h4>
        </a>
        <p class="card-text">ระบบจะทำการสร้าง Event โดยให้ผู้ใช้ระบุรายละเอียดต่างๆที่กำหนดไว้ เมื่อเสร็จสิ้นระบบจะทำการตรวจสอบและแจ้งสถานะให้ในภายหลัง</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Created Event</h4>
      </div>
      <div class="col-6">
        <input type="text" class="form-control" placeholder="Search...." (keyup)="search($event.target.value)">
      </div>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Event Name</th>
            <th scope="col">Registed</th>
            <th scope="col">Close Date</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of eventSearch;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{list?.eName}}</td>
            <td>{{list?.eSign.length}}</td>
            <td>{{list?.expiredAt | date: 'dd/MM/yyyy'}}</td>
            <td>
              <div [ngSwitch]="list.status">
                <span *ngSwitchCase="0">Pending</span>
                <span *ngSwitchCase="1">Approved</span>
                <span *ngSwitchCase="2">Reject</span>
              </div>
            </td>
            <td>
                <button class="btn btn-secondary"  *ngIf="list.status == 1 && list.expiredAt < today">Closed</button>  
              <button class="btn btn-secondary" routerLink="./manage/{{list._id}}" *ngIf="list.status == 1 && list.expiredAt > today">Manage</button>
              <button class="btn btn-secondary" routerLink="./edit/{{list._id}}" *ngIf="list.status == 0">Edit</button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>