<ngx-loading [show]="loading" [config]="{fullScreenBackdrop:true}"></ngx-loading>
<div class="card">
  <div class="card-body">
    <div class="col-md-12 mb-3">
      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="err.length > 0">
        <strong> Error : </strong> {{err}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="success">
        <strong> Created : </strong>
        <a data-toggle="modal" data-target="#Login" class="alert-link">Click to view</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEvent" class="col-sm-auto col-form-label">
        <h5>Event Name :</h5>
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEvent" placeholder="Big Festival 2017" [(ngModel)]="event.eName">
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Event Date</h5>
      </div>
      <div *ngFor="let eventDate of  sDate;index as i">
        <div class="row justify-content-center col-12">
          <div class="col-5">
            <div class="form-group col-12">
              <label for="inputStart">Start Date : </label>
              <owl-date-time [(ngModel)]="sDate[i]" [hideClearButton] = "true" dataType="date"></owl-date-time>
            </div>
          </div>
          <div class="col-5">
            <div class="form-group col-12">
              <label for="inputEnd">End Date : </label>
              <owl-date-time [(ngModel)]="eDate[i]" [hideClearButton] = "true"  dataType="date"></owl-date-time>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group col-12">
              <label for="inputEnd"> </label>
              <button type="submit-[i]" class="btn btn-primary" (click)="addDate()">+</button>
              <button *ngIf="sDate.length > 1" type="submit-[i]" class="btn btn-danger" (click)="delDate(i)">-</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <div class="col-sm-10">
        <label for="inputExpried">Close Date : </label>
        <owl-date-time [(ngModel)]="closeDate" [hideClearButton] = "true" dataType="date"></owl-date-time>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <div class="col-sm-10">
        <label for="inputLocat">LOGO Url : </label>
        <input type="text" class="form-control" id="inputLOGO" placeholder="https://i.imgur.com/mqypJyZ.jpg" [(ngModel)]="event.eLOGO">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-10">
        <label for="inputLocat">Location : </label>
        <input type="text" class="form-control" id="inputCity" [(ngModel)]="event.eLocat">
      </div>

      <div class="form-group col-md-2">
        <label for="inputCap">Capacity : </label>
        <input type="number" min = "0" class="form-control" id="inputCap" [(ngModel)]="event.eCap">
      </div>
    </div>
    <div class="form-row">
      <label for="exampleFormControlTextarea1">Main Detail</label>
      <textarea rows="5" stlye="resize:none" class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="event.eMainDetail"></textarea>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Event Sub-Detail</h5>
      </div>
      <div *ngFor="let eventDetail of event.eSubDetail;index as i">
        <div class="row justify-content-center col-12">
          <div class="col-5">
            <div class="form-group col-12">
              <label for="inputStart">Detail : </label>
              <input type="text" class="form-control" id="inputEventKey-[i]" [(ngModel)]="event.eSubDetail[i].key" placeholder="Age">
            </div>
          </div>
          <div class="col-5">
            <div class="form-group col-12">
              <label for="inputEnd">Value : </label>
              <input type="text" class="form-control" id="inputEventValue-[i]" [(ngModel)]="event.eSubDetail[i].value" placeholder="More than 20">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group col-12">
              <label for="inputEnd"> </label>
              <button type="submit-[i]" class="btn btn-primary" (click)="addSubDate()">+</button>
              <button *ngIf="event.eSubDetail.length > 1" type="submit-[i]" class="btn btn-danger" (click)="delSubDate(i)">-</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center col-12">
      <div class="form-row">
        <button type="submit" class="btn btn-primary" (click)="createEvent()">Create Event</button>
      </div>
    </div>

  </div>
</div>